header {
  background : #EE3A3A;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input[type="text"] {
  border: none;
  height: 65%;
  text-align: center;
}

.filter-btn-group {
  margin: 10px 0;
  padding: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  height: 40px;
}

.filter-btn-group  * {
  cursor: pointer;
}

.filter-btn-group button {
  display: inline-block;
  border: 1px solid rgb(150,150,150);
  height: 25px;
  background: #fff;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 4px 0 0 rgb(150, 150, 150);
}

.filter-btn-group button:active {
  transform : translateY(4px);
  box-shadow: none;
}

main .main-content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-group {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.btn-group button {
  display: inline-block;
  background: #5E5CDA;
  color: #FFF;
  width: 30%;
  padding: 15px 0;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.btn-group button:hover {
  background: #35348B;
}

.btn-group button:active {
  background: #21215E;
}

.btn-group button[disabled], .btn-group button[disabled]:hover {
  background: #9D9CF4;
}